## Model Preparation

In [61]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import RobustScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

In [62]:
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2
from sklearn.ensemble import ExtraTreesClassifier

In [63]:
full_data_clean = pd.read_csv('full_data_clean.csv')
full_data_clean.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager,EnvironmentSatisfaction,JobSatisfaction,WorkLifeBalance,JobInvolvement,PerformanceRating
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,6,1,0,0,3.0,4.0,2.0,3,3
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,6.0,3,5,1,4,3.0,2.0,4.0,2,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,5.0,2,5,0,3,2.0,2.0,1.0,3,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,13.0,5,8,7,5,4.0,4.0,3.0,2,3
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,9.0,2,6,0,4,4.0,1.0,3.0,3,3

In [64]:
full_data_clean.shape

(4410, 29)

In [65]:
full_data_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4410 entries, 0 to 4409
Data columns (total 29 columns):
Age                        4410 non-null int64
Attrition                  4410 non-null object
BusinessTravel             4410 non-null object
Department                 4410 non-null object
DistanceFromHome           4410 non-null int64
Education                  4410 non-null int64
EducationField             4410 non-null object
EmployeeCount              4410 non-null int64
EmployeeID                 4410 non-null int64
Gender                     4410 non-null object
JobLevel                   4410 non-null int64
JobRole                    4410 non-null object
MaritalStatus              4410 non-null object
MonthlyIncome              4410 non-null int64
NumCompaniesWorked         4410 non-null float64
Over18                     4410 non-null object
PercentSalaryHike          4410 non-null int64
StandardHours              4410 non-null int64
StockOptionLevel           4410 non-null int64
TotalWorkingYears          4410 non-null float64
TrainingTimesLastYear      4410 non-null int64
YearsAtCompany             4410 non-null int64
YearsSinceLastPromotion    4410 non-null int64
YearsWithCurrManager       4410 non-null int64
EnvironmentSatisfaction    4410 non-null float64
JobSatisfaction            4410 non-null float64
WorkLifeBalance            4410 non-null float64
JobInvolvement             4410 non-null int64
PerformanceRating          4410 non-null int64
dtypes: float64(5), int64(16), object(8)
memory usage: 999.3+ KB

In [66]:
%%time
def summary_table(df):
    summary = pd.DataFrame(dict(dataFeatures = df.columns,
                                  dataType = df.dtypes,
                                  null = df.isna().sum(),
                                  null_percentage = round(df.isna().sum() / len(df) *100,2),
                                  unique = df.nunique(),
#                                   uniqueSample = [list(df[i].drop_duplicates().sample(2)) for i in df.columns]
                               )
                           ).reset_index(drop=True)
    summary['unique_percentage'] = round(summary['unique'] / len(df) *100,2) #convert unique to percentage values
    return summary

summary_table(full_data_clean)

Wall time: 72.8 ms

,dataFeatures,dataType,null,null_percentage,unique,unique_percentage
0,Age,int64,0,0.0,43,0.98
1,Attrition,object,0,0.0,2,0.05
2,BusinessTravel,object,0,0.0,3,0.07
3,Department,object,0,0.0,3,0.07
4,DistanceFromHome,int64,0,0.0,29,0.66
5,Education,int64,0,0.0,5,0.11
6,EducationField,object,0,0.0,6,0.14
7,EmployeeCount,int64,0,0.0,1,0.02
8,EmployeeID,int64,0,0.0,4410,100.00
9,Gender,object,0,0.0,2,0.05
10,JobLevel,int64,0,0.0,5,0.11
11,JobRole,object,0,0.0,9,0.20
12,MaritalStatus,object,0,0.0,3,0.07
13,MonthlyIncome,int64,0,0.0,1349,30.59
14,NumCompaniesWorked,float64,0,0.0,10,0.23
15,Over18,object,0,0.0,1,0.02
16,PercentSalaryHike,int64,0,0.0,15,0.34
17,StandardHours,int64,0,0.0,1,0.02
18,StockOptionLevel,int64,0,0.0,4,0.09
19,TotalWorkingYears,float64,0,0.0,40,0.91
20,TrainingTimesLastYear,int64,0,0.0,7,0.16
21,YearsAtCompany,int64,0,0.0,37,0.84
22,YearsSinceLastPromotion,int64,0,0.0,16,0.36
23,YearsWithCurrManager,int64,0,0.0,18,0.41
24,EnvironmentSatisfaction,float64,0,0.0,4,0.09
25,JobSatisfaction,float64,0,0.0,4,0.09
26,WorkLifeBalance,float64,0,0.0,4,0.09
27,JobInvolvement,int64,0,0.0,4,0.09
28,PerformanceRating,int64,0,0.0,2,0.05

In [67]:
full_data_clean[['Education',
           'EmployeeCount',
           'EmployeeID',
           'JobLevel',
           'StockOptionLevel','EnvironmentSatisfaction',
           'JobSatisfaction',
           'WorkLifeBalance',
           'JobInvolvement',
           'PerformanceRating']] = full_data_clean[['Education',
                                              'EmployeeCount',
                                              'EmployeeID',
                                              'JobLevel',
                                              'StockOptionLevel','EnvironmentSatisfaction',
                                              'JobSatisfaction',
                                              'WorkLifeBalance',
                                              'JobInvolvement',
                                              'PerformanceRating']].astype('object')

In [68]:
summary_table(full_data_clean) #check for datatypes again after conversion

,dataFeatures,dataType,null,null_percentage,unique,unique_percentage
0,Age,int64,0,0.0,43,0.98
1,Attrition,object,0,0.0,2,0.05
2,BusinessTravel,object,0,0.0,3,0.07
3,Department,object,0,0.0,3,0.07
4,DistanceFromHome,int64,0,0.0,29,0.66
5,Education,object,0,0.0,5,0.11
6,EducationField,object,0,0.0,6,0.14
7,EmployeeCount,object,0,0.0,1,0.02
8,EmployeeID,object,0,0.0,4410,100.00
9,Gender,object,0,0.0,2,0.05
10,JobLevel,object,0,0.0,5,0.11
11,JobRole,object,0,0.0,9,0.20
12,MaritalStatus,object,0,0.0,3,0.07
13,MonthlyIncome,int64,0,0.0,1349,30.59
14,NumCompaniesWorked,float64,0,0.0,10,0.23
15,Over18,object,0,0.0,1,0.02
16,PercentSalaryHike,int64,0,0.0,15,0.34
17,StandardHours,int64,0,0.0,1,0.02
18,StockOptionLevel,object,0,0.0,4,0.09
19,TotalWorkingYears,float64,0,0.0,40,0.91
20,TrainingTimesLastYear,int64,0,0.0,7,0.16
21,YearsAtCompany,int64,0,0.0,37,0.84
22,YearsSinceLastPromotion,int64,0,0.0,16,0.36
23,YearsWithCurrManager,int64,0,0.0,18,0.41
24,EnvironmentSatisfaction,object,0,0.0,4,0.09
25,JobSatisfaction,object,0,0.0,4,0.09
26,WorkLifeBalance,object,0,0.0,4,0.09
27,JobInvolvement,object,0,0.0,4,0.09
28,PerformanceRating,object,0,0.0,2,0.05

In [36]:
tar_feat = ['Attrition']
num_features = ['Age','DistanceFromHome','MonthlyIncome','NumCompaniesWorked','PercentSalaryHike',
                'StandardHours','TotalWorkingYears','TrainingTimesLastYear','YearsAtCompany','YearsSinceLastPromotion',
                'YearsWithCurrManager']
cat_features = ['BusinessTravel','Department','Education','EducationField',
                'EmployeeCount','EmployeeID','EnvironmentSatisfaction','Gender','JobInvolvement',
                'JobLevel','JobRole','JobSatisfaction','MaritalStatus','Over18','PerformanceRating','StockOptionLevel',
               'WorkLifeBalance']

##option manual

In [69]:
categorical_features = list(full_data_clean.select_dtypes(include = [object]))
print(len(categorical_features))

numerical_features = list(full_data_clean.select_dtypes(exclude = [object]))
print(len(numerical_features))

target_features = categorical_features.remove('Attrition')
#option otomatis generate tapi perlu list satu per satu features
# total is 29 Features/Columns
categorical_features

18
11

['BusinessTravel',
 'Department',
 'Education',
 'EducationField',
 'EmployeeCount',
 'EmployeeID',
 'Gender',
 'JobLevel',
 'JobRole',
 'MaritalStatus',
 'Over18',
 'StockOptionLevel',
 'EnvironmentSatisfaction',
 'JobSatisfaction',
 'WorkLifeBalance',
 'JobInvolvement',
 'PerformanceRating']

Some categorical features are only in number format, which implies that the rest of those that are still non-number format would have to be converted/encoded to number format

In [70]:
full_data_clean['Department'].unique()

array(['Sales', 'Research & Development', 'Human Resources'], dtype=object)

In [71]:
from sklearn.preprocessing import LabelEncoder

cat_change_feature = ['Attrition','BusinessTravel','Department','EducationField',
                      'Gender','JobRole','MaritalStatus','Over18']
LE = LabelEncoder()

for i in cat_change_feature:
    full_data_clean[i] = LE.fit_transform(full_data_clean[i])

In [72]:
full_data_clean.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager,EnvironmentSatisfaction,JobSatisfaction,WorkLifeBalance,JobInvolvement,PerformanceRating
0,51,0,2,2,6,2,1,1,1,0,...,1.0,6,1,0,0,3,4,2,3,3
1,31,1,1,1,10,1,1,1,2,0,...,6.0,3,5,1,4,3,2,4,2,4
2,32,0,1,1,17,4,4,1,3,1,...,5.0,2,5,0,3,2,2,1,3,3
3,38,0,0,1,2,5,1,1,4,1,...,13.0,5,8,7,5,4,4,3,2,3
4,32,0,2,1,10,1,3,1,5,1,...,9.0,2,6,0,4,4,1,3,3,3

In [73]:
full_data_clean.to_csv('full_data_clean_enc.csv', index = False) #set file to full_data_clean_enc

In [74]:
full_data_clean_enc = pd.read_csv('full_data_clean_enc.csv')
full_data_clean_enc.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager,EnvironmentSatisfaction,JobSatisfaction,WorkLifeBalance,JobInvolvement,PerformanceRating
0,51,0,2,2,6,2,1,1,1,0,...,1.0,6,1,0,0,3.0,4.0,2.0,3,3
1,31,1,1,1,10,1,1,1,2,0,...,6.0,3,5,1,4,3.0,2.0,4.0,2,4
2,32,0,1,1,17,4,4,1,3,1,...,5.0,2,5,0,3,2.0,2.0,1.0,3,3
3,38,0,0,1,2,5,1,1,4,1,...,13.0,5,8,7,5,4.0,4.0,3.0,2,3
4,32,0,2,1,10,1,3,1,5,1,...,9.0,2,6,0,4,4.0,1.0,3.0,3,3

In [75]:
full_data_clean_enc.shape #in terms of number of rows and columns, they are still the same as before, but data has been transformed

(4410, 29)

In [76]:
full_data_clean_enc.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
Age,4410.0,36.923810,9.133301,18.0,30.00,36.0,43.00,60.0
Attrition,4410.0,0.161224,0.367780,0.0,0.00,0.0,0.00,1.0
BusinessTravel,4410.0,1.607483,0.665304,0.0,1.00,2.0,2.00,2.0
Department,4410.0,1.260544,0.527673,0.0,1.00,1.0,2.00,2.0
DistanceFromHome,4410.0,9.192517,8.105026,1.0,2.00,7.0,14.00,29.0
Education,4410.0,2.912925,1.023933,1.0,2.00,3.0,4.00,5.0
EducationField,4410.0,2.247619,1.331067,0.0,1.00,2.0,3.00,5.0
EmployeeCount,4410.0,1.000000,0.000000,1.0,1.00,1.0,1.00,1.0
EmployeeID,4410.0,2205.500000,1273.201673,1.0,1103.25,2205.5,3307.75,4410.0
Gender,4410.0,0.600000,0.489954,0.0,0.00,1.0,1.00,1.0
JobLevel,4410.0,2.063946,1.106689,1.0,1.00,2.0,3.00,5.0
JobRole,4410.0,4.458503,2.461263,0.0,2.00,5.0,7.00,8.0
MaritalStatus,4410.0,1.097279,0.729955,0.0,1.00,1.0,2.00,2.0
MonthlyIncome,4410.0,65029.312925,47068.888559,10090.0,29110.00,49190.0,83800.00,199990.0
NumCompaniesWorked,4410.0,2.691837,2.493912,0.0,1.00,2.0,4.00,9.0
Over18,4410.0,0.000000,0.000000,0.0,0.00,0.0,0.00,0.0
PercentSalaryHike,4410.0,15.209524,3.659108,11.0,12.00,14.0,18.00,25.0
StandardHours,4410.0,8.000000,0.000000,8.0,8.00,8.0,8.00,8.0
StockOptionLevel,4410.0,0.793878,0.851883,0.0,0.00,1.0,1.00,3.0
TotalWorkingYears,4410.0,11.277324,7.774490,0.0,6.00,10.0,15.00,40.0
TrainingTimesLastYear,4410.0,2.799320,1.288978,0.0,2.00,3.0,3.00,6.0
YearsAtCompany,4410.0,7.008163,6.125135,0.0,3.00,5.0,9.00,40.0
YearsSinceLastPromotion,4410.0,2.187755,3.221699,0.0,0.00,1.0,3.00,15.0
YearsWithCurrManager,4410.0,4.123129,3.567327,0.0,2.00,3.0,7.00,17.0
EnvironmentSatisfaction,4410.0,2.725170,1.089852,1.0,2.00,3.0,4.00,4.0
JobSatisfaction,4410.0,2.734014,1.102071,1.0,2.00,3.0,4.00,4.0
WorkLifeBalance,4410.0,2.763492,0.703541,1.0,2.00,3.0,3.00,4.0
JobInvolvement,4410.0,2.729932,0.711400,1.0,2.00,3.0,3.00,4.0
PerformanceRating,4410.0,3.153741,0.360742,3.0,3.00,3.0,3.00,4.0

In [77]:
ind_features = numerical_features + categorical_features #features other than target (independent)

In [78]:
from sklearn.preprocessing import RobustScaler

RS = RobustScaler()
full_data_clean_enc[ind_features] = RS.fit_transform(full_data_clean_enc[ind_features])

In [79]:
full_data_clean_enc.to_csv('full_data_clean_enc_rb.csv', index = False)
#set another dataset for later use if one were to use the robust scaled data